@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default;
}

@layer base {
  body {
    font-family: "Manrope", sans-serif;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 2b5e7f0c6e77cbc983c6710229d43edc1c4dbe4f
